<ul *ngIf="navBarItems.length > 0" [nzInlineCollapsed]="isCollapsed" [nzMode]="modeNavBar" nz-menu>
  <ng-container *ngTemplateOutlet="mainNavBarTemplate; context: { $implicit: navBarItems }"></ng-container>

  <ng-template #mainNavBarTemplate let-navBarItems>
    <ng-container *ngFor="let navBarItem of navBarItems">
      <ng-container
        *ngTemplateOutlet="
          !navBarItem.children || navBarItem.children.length === 0
            ? singleNavBarTemplate
            : subNavBarTemplate;
          context: { $implicit: navBarItem}
        "
      ></ng-container>
    </ng-container>
  </ng-template>

  <ng-template #subNavBarTemplate let-subNavBarItem>
    <li [nzTitle]="subNavBarItem.title" nz-submenu>
      <ul>
        <ng-container *ngFor="let subNavBarChildItem of [subNavBarItem.children]"
                      [ngTemplateOutletContext]="{ $implicit: subNavBarChildItem }"
                      [ngTemplateOutlet]="mainNavBarTemplate"></ng-container>
      </ul>
    </li>

  </ng-template>

  <ng-template #singleNavBarTemplate let-singleNavBarItem>
    <li [nzMatchRouter]="singleNavBarItem.routerLink"
        [routerLink]="singleNavBarItem.routerLink" nz-menu-item>
      {{singleNavBarItem.title}}
    </li>
  </ng-template>
</ul>

