<head>
  <meta charset="utf-8">
  <title>{{ pageTitle }}</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>


<div class="default-layout">
  <div class="header">
    <div class="header-logo">
      <svg id="OBJECTS" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
        <g>
          <g id="K" transform="translate(24,24)">
            <path
              fill="currentColor"
              d="m32.77,22.87c3,1.95,4.85,4.86,4.85,8.75s-2.16,7.16-5.5,9.27c-.04.02-.07.04-.11.07-2.12,1.25-4.46,1.85-6.92,1.85-3.3,0-6.34-1.04-8.84-3.21-2.19-1.9-3.12-4.8-1.5-7.39.29-.47.66-.89,1.09-1.25,2.02-1.68,4.81-1.53,6.89-.05.47.33.94.75,1.43,1.04.55.32,1.57.26,2.04-.18.04-.04.11-.11.18-.18-.14-.07-.29-.13-.37-.16-.96-.36-1.97-.62-2.94-.94-3.19-1.06-6.08-2.7-7.48-5.92-1.07-2.46-1.15-5.14-.07-7.62,1.78-4.08,6.24-6.53,10.6-6.53,3.07,0,5.86,1.04,8.13,3.1,2.04,1.85,3.03,4.7,1.45,7.19-.73,1.14-1.77,1.85-2.93,2.18h0Zm-6.65-10.97c-3.76,0-7.69,2.1-9.23,5.63-.91,2.09-.83,4.34.07,6.42,1.22,2.8,3.84,4.19,6.58,5.1.99.33,2.02.59,3,.96,1.48.56,2.16,1.48.68,2.85-.95.89-2.68,1.04-3.81.39-.54-.31-1.05-.75-1.56-1.12-1.52-1.08-3.57-1.27-5.06-.02-.3.25-.56.55-.77.89-1.23,1.97-.41,4.07,1.21,5.47,2.24,1.93,4.92,2.85,7.86,2.85,2.19,0,4.27-.53,6.16-1.64.02-.01.05-.03.07-.04,2.9-1.82,4.8-4.48,4.8-8,0-4.09-2.33-6.82-5.92-8.45-1.36-.62-2.78-1.02-4.18-1.54-2.41-.89-1.23-2.08.03-2.08.76,0,1.46.48,2.1.97,1.9,1.47,4.89,1.55,6.29-.64,1.18-1.85.29-3.93-1.19-5.27-2-1.82-4.43-2.71-7.12-2.71Z"
              style="fill-rule: evenodd;"/>
            <path
              fill="currentColor"
              d="m26.12,12.46c1.29,0,2.51.21,3.64.65,1.12.43,2.16,1.07,3.1,1.92.68.62,1.25,1.42,1.46,2.29.18.74.11,1.52-.36,2.26-.27.43-.65.77-1.08,1.01-.45.25-.96.4-1.49.43-.51.03-1.02-.04-1.5-.2-.5-.16-.98-.42-1.4-.75-.54-.42-1.11-.79-1.7-.97-.57-.18-1.18-.18-1.82.14-.07.03-.13.07-.2.11-.42.24-.68.51-.79.78-.11.25-.09.51.03.76,0,.02.02.04.03.06.13.23.36.44.64.64.34.23.74.43,1.15.57.47.17.93.33,1.4.49.92.31,1.84.63,2.74,1.04,1.76.8,3.2,1.87,4.18,3.25.9,1.28,1.41,2.83,1.41,4.68,0,1.59-.42,2.99-1.15,4.21-.8,1.32-1.97,2.42-3.38,3.31-.02,0-.04.02-.05.03-.89.53-1.83.91-2.8,1.17-.99.26-2.02.39-3.08.39-1.42,0-2.78-.22-4.05-.68-1.24-.45-2.39-1.12-3.44-2.03-.74-.64-1.31-1.45-1.52-2.33-.18-.78-.09-1.6.42-2.41.09-.14.19-.28.3-.4.11-.12.23-.24.36-.35.63-.52,1.36-.74,2.1-.73.8.01,1.6.3,2.28.78.18.13.36.27.54.4.35.27.7.53,1.06.74.68.39,1.52.54,2.33.45.8-.08,1.58-.39,2.14-.91.46-.42.75-.84.89-1.22.12-.32.14-.62.08-.9-.06-.28-.21-.55-.44-.79-.33-.35-.81-.65-1.4-.87-.59-.22-1.21-.41-1.83-.6-.39-.12-.77-.23-1.19-.37-1.28-.43-2.55-.96-3.64-1.71-1.1-.76-2.03-1.75-2.6-3.08-.43-.98-.66-2-.67-3.03-.01-.99.18-1.98.6-2.94.7-1.61,1.94-2.9,3.43-3.81,1.59-.96,3.46-1.48,5.28-1.48h0Zm3.51,1c-1.09-.42-2.27-.62-3.51-.62-1.76,0-3.56.5-5.09,1.43-1.43.87-2.61,2.1-3.28,3.64-.4.91-.58,1.85-.57,2.79.01.97.23,1.95.64,2.88.55,1.26,1.42,2.19,2.47,2.92,1.06.73,2.3,1.25,3.55,1.67.37.12.77.24,1.18.37.62.19,1.24.37,1.85.6.65.24,1.18.57,1.54.97.27.29.45.61.53.96.08.35.05.73-.09,1.12-.17.44-.49.9-.99,1.36-.62.58-1.47.92-2.35,1.01-.89.09-1.81-.07-2.56-.5-.39-.22-.75-.5-1.11-.77-.18-.14-.35-.27-.53-.39-.62-.44-1.35-.7-2.07-.71-.65,0-1.3.19-1.85.65-.11.09-.22.2-.31.31-.1.11-.18.23-.26.35-.45.72-.53,1.45-.37,2.13.19.8.72,1.54,1.4,2.13,1.02.88,2.13,1.53,3.33,1.96,1.23.44,2.54.66,3.92.66,1.02,0,2.02-.12,2.98-.38.94-.25,1.84-.62,2.7-1.13l.04-.03c1.37-.86,2.5-1.92,3.26-3.19.7-1.16,1.1-2.5,1.1-4.02,0-1.77-.48-3.25-1.34-4.47-.94-1.33-2.33-2.35-4.03-3.13-.88-.4-1.8-.71-2.71-1.02-.47-.16-.94-.32-1.41-.49-.43-.16-.86-.37-1.23-.62-.32-.22-.59-.48-.75-.76-.01-.02-.03-.05-.04-.08-.17-.34-.19-.71-.03-1.07.15-.34.46-.67.95-.95.07-.04.14-.08.22-.12.74-.36,1.43-.36,2.09-.16.64.2,1.24.59,1.82,1.03.39.3.82.54,1.29.69.44.14.9.21,1.36.18.47-.03.93-.16,1.33-.38.38-.21.7-.51.94-.88.41-.65.48-1.33.32-1.97-.2-.79-.72-1.53-1.35-2.1-.91-.82-1.91-1.44-2.98-1.85Z"
              style="fill-rule: evenodd;"/>
            <path
              fill="currentColor"
              d="m26.11,13.21c1.19,0,2.32.2,3.37.6,1.04.39,2,.98,2.87,1.78.28.25.55.54.77.87.19.28.34.59.44.91.09.31.12.64.08.95-.04.3-.14.6-.31.87-.21.33-.5.59-.83.77-.35.19-.75.3-1.15.33-.42.03-.84-.03-1.24-.16-.42-.14-.81-.35-1.16-.62-.66-.51-1.35-.94-2.07-1.13-.71-.19-1.45-.17-2.23.22-.3.15-.6.36-.85.62-.23.24-.42.52-.53.81-.29.75-.05,1.34.42,1.8.5.48,1.24.82,1.87,1.06.46.17.93.33,1.39.49.91.31,1.82.62,2.7,1.02,1.55.7,2.84,1.62,3.74,2.81.9,1.19,1.41,2.65,1.41,4.44,0,1.46-.38,2.74-1.06,3.85-.74,1.21-1.82,2.22-3.13,3.04,0,0-.02.02-.03.02-.84.49-1.71.85-2.62,1.09-.93.25-1.89.37-2.88.37-1.33,0-2.6-.21-3.79-.64-1.15-.42-2.23-1.04-3.22-1.89-.59-.51-1.08-1.16-1.27-1.87-.16-.61-.1-1.26.31-1.91.07-.11.14-.21.23-.31.08-.09.17-.18.27-.27.49-.41,1.07-.58,1.65-.56.64.02,1.28.26,1.82.64.19.14.37.27.55.41.36.28.73.55,1.11.78.82.47,1.82.65,2.79.55.96-.1,1.88-.47,2.56-1.11.56-.52.92-1.04,1.11-1.54.17-.45.2-.88.11-1.29-.09-.41-.3-.79-.62-1.13-.41-.44-.99-.81-1.71-1.08-.6-.23-1.22-.41-1.85-.6-.39-.12-.77-.23-1.2-.37-1.17-.39-2.35-.87-3.37-1.56-1.03-.7-1.9-1.6-2.43-2.82-.39-.89-.6-1.81-.61-2.73-.01-.89.16-1.78.54-2.64.65-1.48,1.79-2.66,3.16-3.48,1.47-.88,3.2-1.36,4.87-1.36h0Zm3.24.95c-1.01-.38-2.09-.57-3.24-.57-1.6,0-3.27.46-4.68,1.31-1.31.79-2.4,1.91-3.01,3.31-.36.81-.52,1.65-.51,2.49.01.87.21,1.74.58,2.58.5,1.15,1.32,2,2.29,2.66.99.67,2.13,1.14,3.27,1.52.36.12.78.25,1.19.37.62.19,1.25.38,1.87.61.77.29,1.4.69,1.85,1.18.36.39.6.83.71,1.3.11.48.07.98-.12,1.5-.21.55-.6,1.12-1.2,1.68-.75.69-1.75,1.1-2.78,1.21-1.04.11-2.13-.08-3.02-.6-.41-.23-.78-.52-1.15-.8-.18-.14-.36-.28-.54-.4-.48-.34-1.05-.56-1.61-.57-.49-.01-.98.13-1.4.47-.08.07-.16.14-.23.22-.07.08-.13.17-.19.26-.34.55-.4,1.1-.27,1.62.16.63.61,1.21,1.15,1.68.95.82,1.99,1.42,3.1,1.83,1.15.41,2.37.61,3.66.61.96,0,1.89-.12,2.78-.35.87-.23,1.72-.58,2.52-1.05l.03-.02c1.26-.79,2.3-1.76,3-2.92.64-1.05,1-2.26,1-3.66,0-1.7-.48-3.09-1.34-4.22-.86-1.13-2.09-2.01-3.59-2.69-.87-.39-1.77-.7-2.67-1-.47-.16-.94-.32-1.4-.49-.67-.25-1.46-.61-2.01-1.14-.57-.55-.87-1.27-.51-2.2.13-.34.35-.66.61-.94.28-.29.61-.53.95-.7.88-.43,1.7-.46,2.49-.24.77.21,1.5.66,2.2,1.2.32.24.67.44,1.05.56.35.12.72.17,1.1.15.35-.02.7-.12,1-.28.28-.15.52-.36.69-.64.14-.22.23-.46.26-.71.03-.26.01-.54-.07-.8-.08-.29-.22-.56-.39-.81-.2-.29-.45-.56-.71-.8-.84-.76-1.76-1.33-2.75-1.7Z"
              style="fill-rule: evenodd;"/>
            <path
              fill="currentColor"
              d="m26.11,13.96c1.1,0,2.14.18,3.1.55.95.36,1.83.9,2.64,1.63.85.77,1.13,1.51,1.04,2.11-.04.28-.16.53-.35.73-.18.2-.42.35-.69.44-.69.24-1.61.12-2.45-.52-.78-.6-1.59-1.08-2.45-1.29-.84-.21-1.72-.15-2.64.3-.17.08-.34.18-.5.29-.58.4-1.06.96-1.31,1.58-.25.61-.28,1.27.03,1.91.05.11.12.21.19.32.26.38.68.69,1.15.94.47.26.99.46,1.43.63.46.17.92.33,1.38.48.89.3,1.79.61,2.66,1,1.4.64,2.58,1.45,3.4,2.52.83,1.07,1.31,2.4,1.31,4.05,0,1.33-.35,2.49-.97,3.49-.68,1.1-1.67,2.01-2.87,2.77h-.01c-.78.47-1.59.8-2.43,1.03-.86.23-1.76.34-2.68.34-1.24,0-2.42-.19-3.53-.59-1.07-.39-2.07-.97-2.99-1.76-.44-.38-.85-.87-1.01-1.41-.13-.45-.1-.93.2-1.41.05-.07.1-.14.16-.21.06-.07.12-.13.19-.18.36-.3.78-.41,1.2-.39.48.03.96.22,1.35.5.18.13.38.28.56.42.37.28.74.56,1.16.81.96.55,2.13.76,3.25.64,1.11-.12,2.18-.56,2.99-1.31.42-.39.78-.86,1.03-1.37.24-.47.38-.99.4-1.51.04-.92-.25-1.62-.75-2.15-.51-.55-1.23-.94-2.05-1.25-.6-.23-1.24-.42-1.87-.61-.39-.12-.78-.23-1.2-.38-1.06-.35-2.15-.79-3.09-1.41-.96-.63-1.77-1.45-2.25-2.55-.34-.79-.53-1.61-.55-2.43-.01-.79.14-1.58.47-2.34.58-1.34,1.63-2.41,2.88-3.15,1.35-.81,2.94-1.24,4.46-1.24h0Zm2.97.9c-.92-.35-1.91-.52-2.97-.52-1.46,0-2.98.42-4.27,1.19-1.19.71-2.18,1.72-2.73,2.98-.31.72-.45,1.45-.44,2.19.01.77.19,1.54.52,2.28.45,1.03,1.21,1.8,2.11,2.39.91.6,1.97,1.02,3.01,1.37.36.12.78.25,1.2.37.63.19,1.26.38,1.89.62.86.32,1.63.75,2.19,1.34.56.61.89,1.39.85,2.42-.02.58-.18,1.15-.44,1.67-.28.56-.67,1.06-1.11,1.48-.87.8-2.01,1.28-3.2,1.4-1.2.13-2.44-.1-3.48-.69-.43-.25-.82-.54-1.2-.83-.18-.14-.36-.27-.56-.41-.34-.24-.75-.41-1.15-.43-.33-.02-.66.07-.94.3-.05.04-.1.09-.14.14-.04.05-.08.1-.12.16-.24.38-.26.76-.16,1.11.14.46.5.89.89,1.23.88.76,1.84,1.32,2.87,1.69,1.06.38,2.2.56,3.4.56.89,0,1.76-.11,2.59-.33.81-.21,1.59-.54,2.34-.98h0c1.15-.73,2.1-1.6,2.75-2.65.58-.95.91-2.04.91-3.29,0-1.56-.45-2.81-1.23-3.82-.79-1.02-1.91-1.8-3.26-2.41-.85-.39-1.74-.69-2.63-.99-.47-.16-.93-.32-1.39-.48-.46-.17-.99-.38-1.49-.65-.51-.28-.97-.62-1.27-1.06-.08-.12-.16-.24-.22-.37-.36-.74-.33-1.51-.04-2.21.28-.69.81-1.3,1.44-1.74.17-.12.36-.23.54-.32,1.01-.5,1.98-.55,2.9-.33.91.22,1.77.73,2.58,1.36.73.56,1.52.67,2.1.47.21-.07.4-.19.54-.34.13-.15.22-.33.25-.53.07-.48-.18-1.1-.92-1.78-.77-.7-1.61-1.22-2.52-1.56Z"
              style="fill-rule: evenodd;"/>

          </g>
          <path
            stroke="currentColor"
            style="fill: none"
            stroke-width="5"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M 50, 5
                  L 11, 27
                  L 11, 72
                  L 50, 95
                  L 89, 73
                  L 89, 28 z"
          />
        </g>
      </svg>
    </div>
    <nz-divider nzType="vertical">

    </nz-divider>
  </div>

  <div class="main-content">
    <div class="navbar" [ngClass]="isNavBarHidden ? 'navbar-collapsed': ''">
      <app-navbar [isCollapsed]="false"></app-navbar>
      <div class="navbar-button button-primary" (click)="setIsNavbarHidden(!isNavBarHidden)">
        <button nz-button nzType="primary" nzShape="circle">
          <span nz-icon [nzType]="isNavBarHidden ? 'right' : 'left'" nzTheme="outline"></span>
        </button>
      </div>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



