@import '../../../theme';

.default-layout {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: @gap-2;

  .header {
    .header-logo {
      cursor: pointer;
      width: 60px;
      height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      svg {
        color: @primary-color;
      }
    }
    height: 120px;
    display: flex;
    flex-direction: row;
    border-radius: 16px;
    border: 3px solid @primary-color;
    padding: @gap-2;
    align-items: center;
    background: @neutral-white;

    .header-logo {

      color: red;

    }
  }

  .main-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: @gap-2;

    .navbar {
      width: 300px;
      height: 100%;
      position: relative;
      border-radius: 16px;
      border: 3px solid @primary-color;
      padding: @gap-1;
      align-items: center;
      background: @neutral-white;
      transition: 0.3s ease-in-out;
      display: flex;
      flex-direction: column;
      .navbar-button {
        position: absolute;
        right: -15px;
        top: 50px;
      }
    }

    .navbar-collapsed {
      width: 100px;
      transition: 0.3s ease-in-out;
    }

    .content {
      height: 100%;
      width: 100%;
      padding: @gap-1;
      border-radius: 16px;
      border: 3px solid @primary-color;
      background: @neutral-white;
    }
  }
}
