/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";
@import 'theme';

html {
  display: flex;
  flex-direction: row;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  padding: 25px 100px;

  @media only screen and (max-width: 1920px) {
    padding: 25px 50px ;
  }

  @media only screen and (max-width: 1280px) {
    padding: 10px 25px ;
  }

  @media only screen and (max-width: 720px) {
    padding: 8px;
  }
  overflow: hidden;
  background: @background-color;
}


.button-primary {
  &:hover {
    svg {
      color: @primary-color;
    }
    border-color: @primary-color;
  }
}
