// Color palette
//Neutral
@neutral-black: #313232;
@neutral-grey-1: #555555;
@neutral-grey-2: #979ca8;
@neutral-grey-3: #d1dae6;
@neutral-grey-4: #ebf2fb;
@neutral-grey-5: #f7f9fc;
@neutral-white: #ffffff;

//Primary and Secondary
@primary-color: #F2BED1;
@secondary-color-1: #FDCEDF;
@secondary-color-2: #F8E8EE;
@background-color: #F9F5F6;

//Ant Design Defaults
@success-color: #36cfc9;
@warning-color: #ff9900;
@error-color: #ff3658;
@info-color: #007aff;

@gap-0: 8px;
@gap-1: 16px;
@gap-2: 24px;
@gap-3: 32px;
@gap-4: 40px;
@gap-5: 48px;

